<div class="panel panel-default">
  <div  class="panel-heading">
    <h1>Blog Posts</h1>
  </div>
  <div class="panel-body"
    <ul>
      <% @posts.each do |post| %>
        <li><%= link_to post.title, post_path(post) %></li>
      <% end %>
    </ul>
  </div>
</div>
